<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a href="/"><img class="navbar-brand" width='200' height='50' src='https://static.wixstatic.com/media/be8e7d_cd80002f664b48a2a860dc6d0b638d89~mv2.png/v1/fill/w_358,h_68,al_c,q_85,usm_0.66_1.00_0.01/logo_gray_yoko01_edited.webp'></a>
      <!-- <a class="navbar-brand" href="/">IBY</a> -->
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products">News</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/products/new">News Update</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/contact">Contact Us</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>