<% layout('layouts/boilerplate')%>
<h1>Contact Us Through Google Forms</h1>
<iframe  width='1000' height='1100'
src="https://docs.google.com/forms/d/e/1FAIpQLSeUcuJCfSoVMN-M-Cn1OjFc-U1pSztJ3tRyk1qSFM4Ud2H2PQ/viewform"></iframe>
<ul><b>Note: </b> 
    <li>We are currently receiving many inquiries.</li>
    <li>We will contact you in sequence.</li>
    <li>If you would like to apply, please state the purpose of use and submit your application.</li>
</ul>